web/commons/src/main/resources/FatturazioneElettronica.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.govmix.org/proxy/fatturapa/orm" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.govmix.org/proxy/fatturapa/orm">

	


	<xsd:simpleType name="IdentificativoSdIType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NomeFileType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FormatoArchivioInvioFatturaType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="XML"/>
			<xsd:enumeration value="P7M"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="MessageIdType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String60LatinType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,60}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String80LatinType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,80}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CodiceType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="28"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CodiceDestinatarioType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z0-9]{6,7}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipoDocumentoType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
			<xsd:enumeration value="TD01">
				<xsd:annotation>
					<xsd:documentation>Fattura</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TD02">
				<xsd:annotation>
					<xsd:documentation>Acconto / anticipo su fattura
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TD03">
				<xsd:annotation>
					<xsd:documentation>Acconto / anticipo su parcella
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TD04">
				<xsd:annotation>
					<xsd:documentation>Nota di credito</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TD05">
				<xsd:annotation>
					<xsd:documentation>Nota di debito</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TD06">
				<xsd:annotation>
					<xsd:documentation>Parcella</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="OperazioneType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ProxyPagamentoIva"/>
			<xsd:enumeration value="QueryInserimentoFattura"/>
			<xsd:enumeration value="ReadStatoFattura"/>
			<xsd:enumeration value="QueryOperazioneContabile"/>
			<xsd:enumeration value="ProxyDatiFattura"/>
			<xsd:enumeration value="ProxyInserimentoFattura"/>
			<xsd:enumeration value="ProxyOperazioneContabile"/>
			<xsd:enumeration value="ReadDownloadDocumento"/>
			<xsd:enumeration value="QueryDatiFattura"/>
			<xsd:enumeration value="QueryPagamentoIva"/>
			<xsd:enumeration value="ReadElencoMovimentiErarioIva"/>
			<xsd:enumeration value="QueryInterrogazioneEsiti"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="DivisaType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="DataFatturaType">
		<xsd:restriction base="xsd:date">
			<xsd:minInclusive value="1970-01-01"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String10Type">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="(\p{IsBasicLatin}{1,10})"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String20Type">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="(\p{IsBasicLatin}{1,20})"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PasswordType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9]{35}"/> <!-- MD5 della password -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="UsernameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9]{4,50}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="NaturaSpesaType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="NA"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="RispedizioneType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="StatoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="S_OK"/>
			<xsd:enumeration value="S_ERRORE"/>
			<xsd:enumeration value="AS_PRESA_IN_CARICO"/>
			<xsd:enumeration value="AS_ERRORE_PRESA_IN_CARICO"/>
			<xsd:enumeration value="AS_OK"/>
			<xsd:enumeration value="AS_ERRORE"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TipoOperazionePccType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PROXY"/>
			<xsd:enumeration value="READ"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="CausaleType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ATTLIQ"/>
			<xsd:enumeration value="CONT"/>
			<xsd:enumeration value="ATTNC"/>
			<xsd:enumeration value="NCRED"/>
			<xsd:enumeration value="PAGTERZI"/>
			<xsd:enumeration value="IVARC"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="StatoDebitoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LIQ"/>
			<xsd:enumeration value="NOLIQ"/>
			<xsd:enumeration value="SOSP"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="EsitoTrasmissioneType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="KO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="StatoEsitoTrasmissioneType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PRESENTE"/>
			<xsd:enumeration value="NON_PRESENTE"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TipoErroreType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TRASMISSIONE"/>
			<xsd:enumeration value="ELABORAZIONE"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="NomePccOperazioneType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ConsultazioneTracce"/>
			<xsd:enumeration value="DatiFattura"/>
			<xsd:enumeration value="PagamentoIva"/>
			<xsd:enumeration value="InserimentoFattura"/>
			<xsd:enumeration value="StatoFattura"/>
			<xsd:enumeration value="ElencoMovimentiErarioIva"/>
			<xsd:enumeration value="DownloadDocumento"/>
			<xsd:enumeration value="OperazioneContabile_CP"/>
			<xsd:enumeration value="OperazioneContabile_CO"/>
			<xsd:enumeration value="OperazioneContabile_CS"/>
			<xsd:enumeration value="OperazioneContabile_CCS"/>
			<xsd:enumeration value="OperazioneContabile_CPS"/>
			<xsd:enumeration value="OperazioneContabile_CSPC"/>
			<xsd:enumeration value="OperazioneContabile_SP"/>
			<xsd:enumeration value="OperazioneContabile_RF"/>
			<xsd:enumeration value="OperazioneContabile_SC"/>
			<xsd:enumeration value="OperazioneContabile_RC"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TipoOperazioneType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CP"/>
			<xsd:enumeration value="SP"/>
			<xsd:enumeration value="CS"/>
			<xsd:enumeration value="RF"/>
			<xsd:enumeration value="RC"/>
			<xsd:enumeration value="CCS"/>
			<xsd:enumeration value="SC"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="Amount2DecimalType">
		<xsd:restriction base="xsd:decimal">
			<xsd:pattern value="[\-]?[0-9]{1,11}\.[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String100LatinType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,100}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String200LatinType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,200}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String1000LatinType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,1000}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FormatoTrasmissioneType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
			<xsd:enumeration value="FPA12"/>
			<xsd:enumeration value="FPR12"/>
			<xsd:enumeration value="SDI11"/>
			<xsd:enumeration value="SDI10"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EsitoCommittenteType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EC01">
				<xsd:annotation>
					<xsd:documentation>EC01 = ACCETTAZIONE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EC02">
				<xsd:annotation>
					<xsd:documentation>EC02 = RIFIUTO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ScartoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EN00">
				<xsd:annotation>
					<xsd:documentation>EN00 = NOTIFICA NON CONFORME AL FORMATO
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EN01">
				<xsd:annotation>
					<xsd:documentation>EN01 = NOTIFICA NON AMMISSIBILE
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EsitoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IN_ELABORAZIONE_ACCETTATO"/>
			<xsd:enumeration value="IN_ELABORAZIONE_RIFIUTATO"/>
			<xsd:enumeration value="INVIATA_ACCETTATO"/>
			<xsd:enumeration value="INVIATA_RIFIUTATO"/>
			<xsd:enumeration value="SCARTATA_ACCETTATO"/>
			<xsd:enumeration value="SCARTATA_RIFIUTATO"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="StatoConsegnaType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NON_CONSEGNATA"/>
			<xsd:enumeration value="IN_RICONSEGNA"/>
			<xsd:enumeration value="ERRORE_CONSEGNA"/>
			<xsd:enumeration value="CONSEGNATA"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="StatoProtocollazioneType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NON_PROTOCOLLATA"/>
			<xsd:enumeration value="PROTOCOLLATA_IN_ELABORAZIONE"/>
			<xsd:enumeration value="ERRORE_PROTOCOLLAZIONE"/>
			<xsd:enumeration value="PROTOCOLLATA"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="StatoInserimentoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NON_INSERITO"/>
			<xsd:enumeration value="ERRORE_INSERIMENTO"/>
			<xsd:enumeration value="INSERITO"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NazioneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="id-fattura">
		<xsd:sequence>
			<xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
			<xsd:element name="posizione" type="xsd:positiveInteger"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-lotto">
		<xsd:sequence>
			<xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-pagamento">
		<xsd:sequence>
			<xsd:element name="idPagamento" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-scadenza">
		<xsd:sequence>
			<xsd:element name="idScadenza" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-notifica-decorrenza-termini">
		<xsd:sequence>
			<xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-dipartimento">
		<xsd:sequence>
			<xsd:element name="codice" type="CodiceDestinatarioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!--xsd:complexType name="id-pcc-ufficio">
		<xsd:sequence>
			<xsd:element name="codiceUfficioPcc" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType-->
	
	<xsd:complexType name="id-utente">
		<xsd:sequence>
			<xsd:element name="username" type="UsernameType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-ente">
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-protocollo">
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-registro">
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-operazione">
		<xsd:sequence>
			<xsd:element name="nome" type="NomePccOperazioneType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-rispedizione">
		<xsd:sequence>
			<xsd:element name="codiceErrore" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-contabilizzazione">
		<xsd:sequence>
			<xsd:element name="idImporto" type="xsd:string"/>
			<xsd:element name="sistemaRichiedente" type="xsd:string"/>
			<xsd:element name="idFattura" type="id-fattura"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="user-role">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ADMIN"/>
			<xsd:enumeration value="DEPT_ADMIN"/>
			<xsd:enumeration value="USER"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TipoComunicazioneType">
		<xsd:restriction base="xsd:string">
<!--		<xsd:enumeration value="FATTURA_INGRESSO" /> -->
			<xsd:enumeration value="FATTURA_USCITA"/>
			<xsd:enumeration value="NOTIFICA_SCARTO"/>
			<xsd:enumeration value="RICEVUTA_CONSEGNA"/>
			<xsd:enumeration value="NOTIFICA_MANCATA_CONSEGNA"/>
			<xsd:enumeration value="ATTESTAZIONE_TRASMISSIONE_FATTURA"/>
			<xsd:enumeration value="NOTIFICA_ESITO_COMMITTENTE"/>
			<xsd:enumeration value="NOTIFICA_DECORRENZA_TERMINI_TRASMITTENTE"/>
<!--		<xsd:enumeration value="NOTIFICA_DECORRENZA_TERMINI_DESTINATARIO" /> -->
			<xsd:enumeration value="AVVENUTA_TRASMISSIONE_IMPOSSIBILITA_RECAPITO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="id-comunicazione">
		<xsd:sequence>
			<xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
			<xsd:element name="tipoComunicazione" type="TipoComunicazioneType"/>
			<xsd:element name="progressivo" type="xsd:positiveInteger"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="user-type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INTERNO"/>
			<xsd:enumeration value="ESTERNO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="id-dipartimento-property">
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element name="id-ente" type="id-ente"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-registro-property">
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element name="id-protocollo" type="id-protocollo"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-traccia">
		<xsd:sequence>
			<xsd:element name="idTraccia" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-trasmissione">
		<xsd:sequence>
			<xsd:element name="idTrasmissione" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-trasmissione-esito">
		<xsd:sequence>
			<xsd:element name="idTrasmissioneEsito" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="ComunicazioneSdi">
		
		<xsd:sequence>
			<xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
			<xsd:element name="tipoComunicazione" type="TipoComunicazioneType"/>
			<xsd:element name="progressivo" type="xsd:positiveInteger"/>
			<xsd:element name="dataRicezione" type="DataFatturaType"/>
			<xsd:element minOccurs="0" name="nomeFile" type="NomeFileType"/> <!-- Temporaneamente -->
			<xsd:element name="contentType" type="xsd:string"/>
			<xsd:element name="rawData" type="xsd:base64Binary"/>
			<xsd:element name="statoConsegna" type="StatoConsegnaType"/>
			<xsd:element minOccurs="0" name="dataConsegna" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dettaglioConsegna" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Metadato"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Metadato">
		
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element name="valore" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="LottoFatture">
		
		<xsd:sequence>
			<xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
			<xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
			<xsd:element name="nomeFile" type="NomeFileType"/>
			<xsd:element name="formatoArchivioInvioFattura" type="FormatoArchivioInvioFatturaType"/>
			<xsd:element name="messageId" type="MessageIdType"/>
			<xsd:element minOccurs="0" name="cedentePrestatoreDenominazione" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cedentePrestatoreNome" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cedentePrestatoreCognome" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cedentePrestatoreCodice" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cedentePrestatorePaese" type="NazioneType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cedentePrestatoreCodiceFiscale" type="CodiceType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cessionarioCommittenteDenominazione" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cessionarioCommittenteNome" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cessionarioCommittenteCognome" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cessionarioCommittenteCodice" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cessionarioCommittentePaese" type="NazioneType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cessionarioCommittenteCodiceFiscale" type="CodiceType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="terzoIntermediarioOSoggettoEmittenteDenominazione" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="terzoIntermediarioOSoggettoEmittenteNome" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="terzoIntermediarioOSoggettoEmittenteCognome" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="terzoIntermediarioOSoggettoEmittenteCodice" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="terzoIntermediarioOSoggettoEmittentePaese" type="NazioneType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="terzoIntermediarioOSoggettoEmittenteCodiceFiscale" type="CodiceType">
				
			</xsd:element>
			<xsd:element name="codiceDestinatario" type="CodiceDestinatarioType"/>
			<xsd:element name="xml" type="xsd:base64Binary"/>
			<xsd:element name="dataRicezione" type="DataFatturaType"/>
			<xsd:element name="statoInserimento" type="StatoInserimentoType"/>
			<xsd:element name="statoConsegna" type="StatoConsegnaType"/>
			<xsd:element minOccurs="0" name="dataConsegna" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dettaglioConsegna" type="xsd:string"/>
			<xsd:element name="statoProtocollazione" type="StatoProtocollazioneType"/>
			<xsd:element minOccurs="0" name="dataProtocollazione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="protocollo" type="xsd:string">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="id-egov" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FatturaElettronica">
		
		<xsd:sequence>
			<xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
			<xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
			<xsd:element name="dataRicezione" type="xsd:dateTime"/>
			<xsd:element name="nomeFile" type="NomeFileType"/>
			<xsd:element name="messageId" type="MessageIdType"/>
			<xsd:element name="cedentePrestatoreDenominazione" type="String80LatinType">
				
			</xsd:element>
			<xsd:element name="cedentePrestatorePaese" type="NazioneType">
				
			</xsd:element>
			<xsd:element name="cedentePrestatoreCodiceFiscale" type="CodiceType">
				
			</xsd:element>
			<xsd:element name="cessionarioCommittenteDenominazione" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cessionarioCommittentePaese" type="NazioneType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="cessionarioCommittenteCodiceFiscale" type="CodiceType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="terzoIntermediarioOSoggettoEmittenteDenominazione" type="String80LatinType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="terzoIntermediarioOSoggettoEmittentePaese" type="NazioneType">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="terzoIntermediarioOSoggettoEmittenteCodiceFiscale" type="CodiceType">
				
			</xsd:element>
			<xsd:element default="1" name="posizione" type="xsd:positiveInteger"/>
			<xsd:element name="codiceDestinatario" type="CodiceDestinatarioType"/>
			<xsd:element name="tipoDocumento" type="TipoDocumentoType"/>
			<xsd:element name="divisa" type="DivisaType"/>
			<xsd:element name="data" type="DataFatturaType"/>
			<xsd:element name="anno" type="xsd:nonNegativeInteger"/>
			<xsd:element name="numero" type="String20Type"/>
			<xsd:element minOccurs="0" name="esito" type="EsitoType"/>
			<xsd:element name="daPagare" type="xsd:boolean"/>			
			<xsd:element name="importoTotaleDocumento" type="Amount2DecimalType"/>
			<xsd:element name="importoTotaleRiepilogo" type="Amount2DecimalType"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="causale" type="String1000LatinType"/>
			<xsd:element default="NON_CONSEGNATA" name="statoConsegna" type="StatoConsegnaType"/>
			<xsd:element minOccurs="0" name="dataConsegna" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataProssimaConsegna" type="xsd:dateTime"/>
			<xsd:element name="tentativiConsegna" type="xsd:nonNegativeInteger"/>
			<xsd:element minOccurs="0" name="dettaglioConsegna" type="xsd:string"/>
			<xsd:element name="statoProtocollazione" type="StatoProtocollazioneType"/>
			<xsd:element minOccurs="0" name="dataScadenza" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataProtocollazione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="protocollo" type="xsd:string"/>
			<xsd:element name="xml" type="xsd:base64Binary"/>
			<xsd:element minOccurs="0" name="idDecorrenzaTermini" type="id-notifica-decorrenza-termini">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idEsitoContabilizzazione" type="id-trasmissione-esito">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idEsitoScadenza" type="id-trasmissione-esito">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NotificaEsitoCommittente">
		
		<xsd:sequence>
			<xsd:element name="idFattura" type="id-fattura">
				
			</xsd:element>
			<xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
			<xsd:element minOccurs="0" name="numeroFattura" type="String20Type"/>
			<xsd:element minOccurs="0" name="anno" type="xsd:nonNegativeInteger"/>
			<xsd:element minOccurs="0" name="posizione" type="xsd:positiveInteger"/>
			<xsd:element name="esito" type="EsitoCommittenteType"/>
			<xsd:element minOccurs="0" name="descrizione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="messageIdCommittente" type="MessageIdType"/>
			<xsd:element name="nomeFile" type="NomeFileType"/>
			<xsd:element name="utente" type="id-utente">
				
			</xsd:element>
			<xsd:element default="false" name="modalita-batch" type="xsd:boolean"/>
			<xsd:element name="dataInvioEnte" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataInvioSdi" type="xsd:dateTime"/>
			
			<xsd:element default="NON_CONSEGNATA" name="statoConsegnaSdi" type="StatoConsegnaType"/>
			<xsd:element minOccurs="0" name="dataUltimaConsegnaSdi" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataProssimaConsegnaSdi" type="xsd:dateTime"/>
			<xsd:element name="tentativiConsegnaSdi" type="xsd:int"/>
			
			
			<xsd:element minOccurs="0" name="scarto" type="ScartoType"/>
			<xsd:element minOccurs="0" name="scartoNote" type="xsd:string"/>
			<xsd:element minOccurs="0" name="scartoXml" type="xsd:base64Binary"/>
			
			<xsd:element minOccurs="0" name="xml" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NotificaDecorrenzaTermini">
		
		<xsd:sequence>
			<xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
			<xsd:element name="nomeFile" type="NomeFileType"/>
			<xsd:element minOccurs="0" name="descrizione" type="xsd:string"/>
			<xsd:element name="messageId" type="MessageIdType"/>
			<xsd:element minOccurs="0" name="note" type="xsd:string"/>
			<xsd:element name="dataRicezione" type="xsd:dateTime"/>
			
			<!--xsd:element name="statoConsegna" type="StatoConsegnaType" default="NON_CONSEGNATA" />
			<xsd:element name="dataUltimaConsegna" type="xsd:dateTime" minOccurs="0" />
			<xsd:element name="dataProssimaConsegna" type="xsd:dateTime" minOccurs="0" />
			<xsd:element name="tentativiConsegna" type="xsd:positiveInteger"/>
			<xsd:element name="dettaglioConsegna" type="xsd:string" minOccurs="0" /-->
			
			<xsd:element name="xml" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AllegatoFattura">
		
		<xsd:sequence>
			<xsd:element name="idFattura" type="id-fattura">
				
			</xsd:element>
			<xsd:element name="nomeAttachment" type="String60LatinType"/>
			<xsd:element minOccurs="0" name="algoritmoCompressione" type="String10Type"/>
			<xsd:element minOccurs="0" name="formatoAttachment" type="String10Type"/>
			<xsd:element minOccurs="0" name="descrizioneAttachment" type="String100LatinType"/>
			<xsd:element name="attachment" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="Ente">
		
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idPccAmministrazione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="cfAuth" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizione" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Protocollo">
		
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizione" type="xsd:string"/>
			<xsd:element name="endpoint" type="xsd:anyURI"/>
			<xsd:element minOccurs="0" name="endpointConsegnaLotto" type="xsd:anyURI"/>
			<xsd:element minOccurs="0" name="endpointRichiediProtocollo" type="xsd:anyURI"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:element name="Registro" type="Registro"/>
	<xsd:complexType name="Registro">
		
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element name="username" type="UsernameType"/>
			<xsd:element name="password" type="PasswordType"/>
			<xsd:element name="idProtocollo" type="id-protocollo">
				
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="RegistroPropertyValue">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="RegistroProperty" type="RegistroProperty"/>
	<xsd:complexType name="RegistroProperty">
		
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element name="label" type="xsd:string"/>
			<xsd:element name="idProtocollo" type="id-protocollo">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="RegistroPropertyValue" type="RegistroPropertyValue"/>
	<xsd:complexType name="RegistroPropertyValue">
		
		<xsd:sequence>
			<xsd:element name="valore" type="xsd:string"/>
			<xsd:element name="id-property" type="id-registro-property">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Utente">
		
		<xsd:sequence>
			<xsd:element name="username" type="UsernameType"/>
			<xsd:element name="password" type="PasswordType"/>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element name="cognome" type="xsd:string"/>
			<xsd:element name="role" type="user-role"/>
			<xsd:element minOccurs="0" name="tipo" type="user-type"/>
			<xsd:element name="esterno" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="sistema" type="String20Type"/>
			<xsd:element maxOccurs="unbounded" ref="UtenteDipartimento">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Dipartimento">
		
		<xsd:sequence>
			<xsd:element name="codice" type="CodiceDestinatarioType"/>
			<xsd:element name="ente" type="id-ente">
				
			</xsd:element>
			<xsd:element name="descrizione" type="xsd:string"/>
			<xsd:element default="false" name="accettazioneAutomatica" type="xsd:boolean"/>
			<xsd:element default="true" name="modalitaPush" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="registro" type="id-registro">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="listaEmailNotifiche" type="xsd:string">
				
			</xsd:element>
			
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="DipartimentoPropertyValue">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>



	<!--xsd:element name="PccUfficio" type="PccUfficio" />
	<xsd:complexType name="PccUfficio">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:interface crud="true" id="id-pcc-ufficio" />
					<linkit:sql-table-mapping generate-sql="true"
						name="pcc_uffici" on-delete-cascade="false">
						<linkit:sql-table-unique create-index="true">
							<linkit:sql-table-unique-field
								name="codiceUfficioPcc" />
						</linkit:sql-table-unique>
					</linkit:sql-table-mapping>
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
	<xsd:element name="codiceUfficioPcc" type="xsd:string" />
	<xsd:element name="denominazione" type="xsd:string" />
	<xsd:element name="cfAuth" type="xsd:string" />
	<xsd:element name="listaEmailNotifiche" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
					<linkit:sql-column-mapping long-text="true" />
				</linkit:generator>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
		</xsd:sequence>
	</xsd:complexType-->
	
	<xsd:element name="DipartimentoProperty" type="DipartimentoProperty"/>
	<xsd:complexType name="DipartimentoProperty">
		
		<xsd:sequence>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element name="label" type="xsd:string"/>
			<xsd:element name="idEnte" type="id-ente">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DipartimentoPropertyValue" type="DipartimentoPropertyValue"/>
	<xsd:complexType name="DipartimentoPropertyValue">
		
		<xsd:sequence>
			<xsd:element name="valore" type="xsd:string"/>
			<xsd:element name="id-property" type="id-dipartimento-property">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="UtenteDipartimento">
		
		<xsd:sequence>
			<xsd:element name="idDipartimento" type="id-dipartimento">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PccOperazione" type="PccOperazione"/>
	<xsd:complexType name="PccOperazione">
		
		<xsd:sequence>
			<xsd:element name="nome" type="NomePccOperazioneType"/>
			<xsd:element name="label" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PccDipartimentoOperazione" type="PccDipartimentoOperazione"/>
	<xsd:complexType name="PccDipartimentoOperazione">
		
		<xsd:sequence>
			<xsd:element name="idDipartimento" type="id-dipartimento">
				
			</xsd:element>
			<xsd:element name="idOperazione" type="id-operazione">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PccUtenteOperazione" type="PccUtenteOperazione"/>
	<xsd:complexType name="PccUtenteOperazione">
		
		<xsd:sequence>
			<xsd:element name="idUtente" type="id-utente">
				
			</xsd:element>
			<xsd:element name="idOperazione" type="id-operazione">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	<!-- ********* PCC Contabilizzazione ************* -->

	<xsd:element name="PccContabilizzazione" type="PccContabilizzazione"/>
	<xsd:complexType name="PccContabilizzazione">
		
		<xsd:sequence>
			<xsd:element name="importoMovimento" type="xsd:double"/>
			<xsd:element name="naturaSpesa" type="NaturaSpesaType"/>
			<xsd:element minOccurs="0" name="capitoliSpesa" type="xsd:string"/>
			<xsd:element name="statoDebito" type="StatoDebitoType"/>
			<xsd:element minOccurs="0" name="causale" type="CausaleType"/>
			<xsd:element minOccurs="0" name="descrizione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="estremiImpegno" type="xsd:string"/>
			<xsd:element name="CodiceCig" type="xsd:string"/>
			<xsd:element name="CodiceCup" type="xsd:string"/>
			<xsd:element name="idImporto" type="xsd:string"/>
			<xsd:element name="idFattura" type="id-fattura">
				
			</xsd:element>
			<xsd:element name="sistemaRichiedente" type="xsd:string"/>
			<xsd:element name="utenteRichiedente" type="xsd:string"/>
			<xsd:element name="dataRichiesta" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataQuery" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:element name="PccScadenza" type="PccScadenza"/>
	<xsd:complexType name="PccScadenza">
		
		<xsd:sequence>
			<xsd:element minOccurs="0" name="importoInScadenza" type="Amount2DecimalType"/>
			<xsd:element minOccurs="0" name="importoIniziale" type="Amount2DecimalType"/>
			<xsd:element minOccurs="0" name="pagatoRicontabilizzato" type="Amount2DecimalType"/>
			<xsd:element minOccurs="0" name="dataScadenza" type="xsd:date"/>
			<xsd:element name="idFattura" type="id-fattura">
				
			</xsd:element>
			<xsd:element name="sistemaRichiedente" type="xsd:string"/>
			<xsd:element name="utenteRichiedente" type="xsd:string"/>
			<xsd:element name="dataRichiesta" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataQuery" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PccPagamento" type="PccPagamento"/>
	<xsd:complexType name="PccPagamento">
		
		<xsd:sequence>
			<xsd:element name="importoPagato" type="xsd:double"/>
			<xsd:element name="naturaSpesa" type="NaturaSpesaType"/>
			<xsd:element minOccurs="0" name="capitoliSpesa" type="xsd:string"/>
			<xsd:element minOccurs="0" name="estremiImpegno" type="xsd:string"/>
			<xsd:element minOccurs="0" name="numeroMandato" type="xsd:string"/>
			<xsd:element minOccurs="0" name="dataMandato" type="xsd:date"/>
			<xsd:element name="idFiscaleIvaBeneficiario" type="xsd:string"/>
			<xsd:element minOccurs="0" name="CodiceCig" type="xsd:string"/>
			<xsd:element minOccurs="0" name="CodiceCup" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizione" type="xsd:string"/>
			<xsd:element name="idFattura" type="id-fattura">
				
			</xsd:element>
			<xsd:element name="dataRichiesta" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataQuery" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>


	<!-- ********* PCC Tracciamento ************* -->
	
	<xsd:element name="PccTraccia" type="PccTraccia"/>
	<xsd:complexType name="PccTraccia">
		
		<xsd:sequence>
			<xsd:element name="dataCreazione" type="xsd:dateTime"/>
			<xsd:element name="cfTrasmittente" type="xsd:string"/>
			<xsd:element name="versioneApplicativa" type="xsd:string"/>
			<xsd:element name="idPccAmministrazione" type="xsd:int"/>
			<xsd:element minOccurs="0" name="idPaTransazione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idPaTransazioneRispedizione" type="xsd:string"/>
			<xsd:element name="sistemaRichiedente" type="xsd:string"/>
			<xsd:element name="utenteRichiedente" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idFattura" type="xsd:long"/>
			<xsd:element minOccurs="0" name="codiceDipartimento" type="CodiceDestinatarioType"/>
			<xsd:element name="richiestaXml" type="xsd:base64Binary"/>
			<xsd:element minOccurs="0" name="rispostaXml" type="xsd:base64Binary"/>
			<xsd:element name="operazione" type="xsd:string"/>
			<xsd:element name="tipoOperazione" type="TipoOperazionePccType"/>
			<xsd:element name="stato" type="StatoType"/>
			<xsd:element name="dataUltimaTrasmissione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataUltimoTentativoEsito" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="codiciErrore" type="String1000LatinType"/>
			<xsd:element default="false" name="rispedizione" type="xsd:boolean"/>
			<xsd:element name="rispedizioneDopoQuery" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="rispedizioneMaxTentativi" type="xsd:int"/>
			<xsd:element minOccurs="0" name="rispedizioneProssimoTentativo" type="xsd:dateTime">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="rispedizioneNumeroTentativi" type="xsd:int"/>
			<xsd:element minOccurs="0" name="rispedizioneUltimoTentativo" type="xsd:dateTime"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="PccTracciaTrasmissione" type="PccTracciaTrasmissione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="FatturaElettronica" type="FatturaElettronica">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PccTracciaTrasmissione" type="PccTracciaTrasmissione"/>
	<xsd:complexType name="PccTracciaTrasmissione">
		
		<xsd:sequence>
			<xsd:element name="idTraccia" type="id-traccia">
				
			</xsd:element>
			<xsd:element name="tsTrasmissione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="idPccTransazione" type="xsd:string"/>
			<xsd:element name="esitoTrasmissione" type="EsitoTrasmissioneType"/>
			<xsd:element name="statoEsito" type="StatoEsitoTrasmissioneType"/>
			<xsd:element name="gdo" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataFineElaborazione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dettaglioErroreTrasmissione" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="idEgovRichiesta" type="xsd:string"/>
			
			<xsd:element maxOccurs="unbounded" name="PccTracciaTrasmissioneEsito" type="PccTracciaTrasmissioneEsito">
				
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PccTracciaTrasmissioneEsito" type="PccTracciaTrasmissioneEsito"/>
	<xsd:complexType name="PccTracciaTrasmissioneEsito">
		
		<xsd:sequence>
			<xsd:element name="idTrasmissione" type="id-trasmissione">
				
			</xsd:element>
			<xsd:element name="esitoElaborazione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizioneElaborazione" type="xsd:string">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="dataFineElaborazione" type="xsd:dateTime"/>
			<xsd:element name="gdo" type="xsd:dateTime"/>
			<xsd:element name="esitoTrasmissione" type="EsitoTrasmissioneType"/>
			<xsd:element minOccurs="0" name="dettaglioErroreTrasmissione" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="idEgovRichiesta" type="xsd:string"/>

			<xsd:element maxOccurs="unbounded" name="PccErroreElaborazione" type="PccErroreElaborazione">
				
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:element name="PccErroreElaborazione" type="PccErroreElaborazione"/>
	<xsd:complexType name="PccErroreElaborazione">
		
		<xsd:sequence>
			<xsd:element name="idEsito" type="id-trasmissione-esito">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="tipoOperazione" type="TipoOperazioneType"/>
			<xsd:element minOccurs="0" name="progressivoOperazione" type="xsd:int"/>
			<xsd:element name="codiceEsito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizioneEsito" type="xsd:string">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PccRispedizione" type="PccRispedizione"/>
	<xsd:complexType name="PccRispedizione">
		
		<xsd:sequence>
			<xsd:element name="maxNumeroTentativi" type="xsd:int"/>
			<xsd:element name="intervalloTentativi" type="xsd:int"/>
			<xsd:element name="codiceErrore" type="xsd:string"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="descrizioneErrore" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="tipoErrore" type="TipoErroreType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PccNotifica" type="PccNotifica"/>
	<xsd:complexType name="PccNotifica">
		
		<xsd:sequence>
			<xsd:element name="idTraccia" type="id-traccia">
				
			</xsd:element>
			<xsd:element name="idDipartimento" type="id-dipartimento">
				
			</xsd:element>
			<xsd:element name="statoConsegna" type="StatoConsegnaType"/>
			<xsd:element name="dataCreazione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataConsegna" type="xsd:dateTime"/>
			
			<xsd:element minOccurs="0" name="PccTraccia" type="PccTraccia">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="Dipartimento" type="Dipartimento">
				
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- ********* PLUGINS PER GLI EVENTI ************* -->
	
	<xsd:element name="Evento" type="Evento"/>
	<xsd:complexType name="Evento">
		
			<xsd:sequence>
				<xsd:element name="tipo" type="xsd:string">
					
				</xsd:element>
				<xsd:element name="codice" type="xsd:string">
					
				</xsd:element>
				<xsd:element name="severita" type="xsd:int">
					
				</xsd:element>
				<xsd:element name="ora-registrazione" type="xsd:dateTime">
					
				</xsd:element>
				<xsd:element minOccurs="0" name="descrizione" type="xsd:string">
					
				</xsd:element>
				<xsd:element minOccurs="0" name="id-transazione" type="xsd:string">
					
				</xsd:element>
				<xsd:element minOccurs="0" name="configurazione" type="xsd:string">
					
				</xsd:element>
				<xsd:element minOccurs="0" name="cluster-id" type="xsd:string">
								        
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	

	<xsd:element name="LottoFatture" type="LottoFatture"/>

	<xsd:element name="FatturaElettronica" type="FatturaElettronica"/>

	<xsd:element name="NotificaEsitoCommittente" type="NotificaEsitoCommittente"/>

	<xsd:element name="NotificaDecorrenzaTermini" type="NotificaDecorrenzaTermini"/>

	<xsd:element name="AllegatoFattura" type="AllegatoFattura"/>

	<xsd:element name="ComunicazioneSdi" type="ComunicazioneSdi"/>
	
	<xsd:element name="Metadato" type="Metadato"/>
	
	<xsd:element name="Utente" type="Utente"/>
	
	<xsd:element name="Ente" type="Ente"/>

	<xsd:element name="Protocollo" type="Protocollo"/>
	
	<xsd:element name="Dipartimento" type="Dipartimento"/>

	<xsd:element name="UtenteDipartimento" type="UtenteDipartimento"/>

</xsd:schema>