schemi/FatturazioneElettronica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.govmix.org/proxy/fatturapa"
    targetNamespace="http://www.govmix.org/proxy/fatturapa" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     elementFormDefault="qualified" attributeFormDefault="unqualified">

     <xsd:annotation>
          <xsd:appinfo>
               <linkit:project_generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:info version="1.0" project-name="fatturaPA">
                         <linkit:authors>
                              <linkit:author name="Papandrea Giuseppe" mail="papandrea@link.it"/>
                         </linkit:authors>
                    </linkit:info>
                    <linkit:jax-ws xml-annotations="true" ws="false"/>
               </linkit:project_generator>
               <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:dao>
                         <linkit:jdbc generate="true"/>
                         <linkit:jpa generate="false"/>
                         <linkit:sql>
                              <linkit:sql-script generate="true"/>
                              <linkit:sql-mapping single-table-mapping="false"
                                   on-delete-cascade="true"/>
                         </linkit:sql>
                    </linkit:dao>
               </linkit:generator>
          </xsd:appinfo>
     </xsd:annotation>

    <xsd:simpleType name="IdentificativoSdIType">
        <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
     
    <xsd:simpleType name="NomeFileType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="MessageIdType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="14"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="String60LatinType">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,60}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="String80LatinType">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,80}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="CodiceType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="28" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="CodiceDestinatarioType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z0-9]{6}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="TipoDocumentoType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="4" />
            <xsd:enumeration value="TD01">
                <xsd:annotation>
                    <xsd:documentation>Fattura</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="TD02">
                <xsd:annotation>
                    <xsd:documentation>Acconto / anticipo su fattura</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="TD03">
                <xsd:annotation>
                    <xsd:documentation>Acconto / anticipo su parcella</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="TD04">
                <xsd:annotation>
                    <xsd:documentation>Nota di credito</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="TD05">
                <xsd:annotation>
                    <xsd:documentation>Nota di debito</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="TD06">
                <xsd:annotation>
                    <xsd:documentation>Parcella</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="DivisaType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="DataFatturaType">
        <xsd:restriction base="xsd:date">
            <xsd:minInclusive value="1970-01-01" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="String10Type">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="(\p{IsBasicLatin}{1,10})" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="String20Type">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="(\p{IsBasicLatin}{1,20})" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="PasswordType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{35}"/> <!-- MD5 della password -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="UsernameType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{4,20}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="Amount2DecimalType">
        <xsd:restriction base="xsd:decimal">
            <xsd:pattern value="[\-]?[0-9]{1,11}\.[0-9]{2}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="String100LatinType">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,100}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="String200LatinType">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,200}" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="FormatoTrasmissioneType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="5" />
            <xsd:enumeration value="SDI11"/>
            <xsd:enumeration value="SDI10"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="EsitoCommittenteType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EC01">
                <xsd:annotation>
                    <xsd:documentation>EC01 = ACCETTAZIONE</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="EC02">
                <xsd:annotation>
                    <xsd:documentation>EC02 = RIFIUTO</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ScartoType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EN00">
                <xsd:annotation>
                    <xsd:documentation>EN00 = NOTIFICA NON CONFORME AL FORMATO</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="EN01">
                <xsd:annotation>
                    <xsd:documentation>EN01 = NOTIFICA NON AMMISSIBILE</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="EsitoType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ESITO_ACCETTAZIONE_IN_TRASMISSIONE_SDI"/>
            <xsd:enumeration value="ESITO_RIFIUTO_IN_TRASMISSIONE_SDI"/>
            <xsd:enumeration value="ESITO_ACCETTAZIONE_SCARTATO_SDI"/>
            <xsd:enumeration value="ESITO_RIFIUTO_SCARTATO_SDI"/>
            <xsd:enumeration value="ESITO_ACCETTAZIONE_INVIATO_SDI"/>
            <xsd:enumeration value="ESITO_RIFIUTO_INVIATO_SDI"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="StatoFatturaPassivaType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IN_CONSEGNA_ENTE"/>
            <xsd:enumeration value="ERRORE_CONSEGNA_ENTE"/>
            <xsd:enumeration value="CONSEGNATA_ENTE"/>
            <xsd:enumeration value="ESITO_ACCETTAZIONE_IN_TRASMISSIONE_SDI"/>
            <xsd:enumeration value="ESITO_RIFIUTO_IN_TRASMISSIONE_SDI"/>
            <xsd:enumeration value="ESITO_ACCETTAZIONE_SCARTATO_SDI"/>
            <xsd:enumeration value="ESITO_RIFIUTO_SCARTATO_SDI"/>
            <xsd:enumeration value="ESITO_ACCETTAZIONE_INVIATO_SDI"/>
            <xsd:enumeration value="ESITO_RIFIUTO_INVIATO_SDI"/>
            <xsd:enumeration value="DECORRENZA_TERMINI"/>
            <xsd:enumeration value="IN_LIQUIDAZIONE"/>
            <xsd:enumeration value="LIQUIDATA"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="StatoFatturaAttivaType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IN_TRASMISSIONE_SDI"/>
            <xsd:enumeration value="ERRORE_TRASMISSIONE_SDI"/>
            <xsd:enumeration value="TRASMESSA_SDI"/>
            <xsd:enumeration value="SCARTATA_SDI"/>
            <xsd:enumeration value="MANCATA_CONSEGNA_DESTINATARIO"/>
            <xsd:enumeration value="IMPOSSIBILE_RECAPITO_DESTINATARIO"/>
            <xsd:enumeration value="CONSEGNATA_DESTINATARIO"/>
            <xsd:enumeration value="ACCETTATA_DESTINATARIO"/>
            <xsd:enumeration value="RIFIUTATA_DESTINATARIO"/>
            <xsd:enumeration value="DECORRENZA_TERMINI"/>
        </xsd:restriction>    
    </xsd:simpleType>
    
    <xsd:simpleType name="StatoInvioEsitoType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DA_INVIARE"/>
            <xsd:enumeration value="INVIATO"/>
            <xsd:enumeration value="ERRORE_INVIO"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="NazioneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="CodiceErroreScartoType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    
<!-- IDs -->    
        
    <xsd:complexType name="id-fattura-uscita">
        <xsd:sequence>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType" />
            <xsd:element name="nomeFile" type="NomeFileType" />
        </xsd:sequence>    
    </xsd:complexType>
    
    <xsd:complexType name="id-fattura-entrata">
        <xsd:sequence>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="nomeFile" type="NomeFileType" />
            <xsd:element name="posizione" type="xsd:positiveInteger"/>
        </xsd:sequence>    
    </xsd:complexType>
    
    <xsd:complexType name="id-notifica-decorrenza-termini">
        <xsd:sequence>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
        </xsd:sequence>    
    </xsd:complexType>
    
    <xsd:complexType name="id-dipartimento">
        <xsd:sequence>
            <xsd:element name="codice" type="CodiceDestinatarioType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="id-utente">
        <xsd:sequence>
            <xsd:element name="username" type="UsernameType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="id-ente">
        <xsd:sequence>
            <xsd:element name="codiceFiscale" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
        
<!-- FATTURA ENTRATA -->    
    
    <xsd:complexType name="FatturaEntrata">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true" id="id-fattura-entrata"/>
                    <linkit:sql-table-mapping generate-sql="true" name="fatture_entrata"
                        on-delete-cascade="false">
                        <linkit:sql-table-foreign-key
                            reference-object-name="Dipartimento"
                            reference-object-type="Dipartimento">
                            <linkit:sql-table-fk-field name="codiceDestinatario"/>
                            <linkit:sql-table-fk-reference-field name="codice"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="identificativoSdi"/>
                            <linkit:sql-table-unique-field name="posizione"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-index name="idx_cp_denominazione">
                            <linkit:sql-table-index-field name="cedentePrestatorePaese"/>
                            <linkit:sql-table-index-field name="cedentePrestatoreCodiceFiscale"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="dataRicezione" type="xsd:dateTime"/>
            <xsd:element name="nomeFile" type="NomeFileType"/>
            <xsd:element name="messageId" type="MessageIdType"/>
            <xsd:element name="cedentePrestatoreDenominazione" type="String80LatinType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cp_denominazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cedentePrestatorePaese" type="NazioneType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cp_nazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cedentePrestatoreCodiceFiscale" type="CodiceType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cp_codicefiscale"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cessionarioCommittenteDenominazione" type="String80LatinType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cc_denominazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cessionarioCommittentePaese" type="NazioneType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cc_nazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cessionarioCommittenteCodiceFiscale" type="CodiceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cc_codicefiscale"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="terzoIntermediarioOSoggettoEmittenteDenominazione" type="String80LatinType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="se_denominazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="terzoIntermediarioOSoggettoEmittentePaese" type="NazioneType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="se_nazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="terzoIntermediarioOSoggettoEmittenteCodiceFiscale" type="CodiceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="se_codicefiscale"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="posizione" type="xsd:positiveInteger" default="1"/>
            <xsd:element name="codiceDestinatario" type="CodiceDestinatarioType"/>
            <xsd:element name="tipoDocumento" type="TipoDocumentoType"/>
            <xsd:element name="art73" type="xsd:boolean" default="false"/>
            <xsd:element name="divisa" type="DivisaType"/>
            <xsd:element name="data" type="DataFatturaType"/>
            <xsd:element name="anno" type="xsd:nonNegativeInteger"/>
            <xsd:element name="numero" type="String20Type"/>
            <xsd:element name="esito" type="EsitoType" minOccurs="0"/>
            <xsd:element name="importoTotaleDocumento" type="Amount2DecimalType" minOccurs="0"/>
            <xsd:element name="causale" type="String200LatinType" minOccurs="0"/>
            <xsd:element name="dataConsegnaEnte" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="stato" type="StatoFatturaPassivaType" default="IN_CONSEGNA_ENTE"/>
            <xsd:element name="dettaglioStato" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dataUltimoStato" type="xsd:dateTime"/>
            <xsd:element name="xml" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idDecorrenzaTermini" type="id-notifica-decorrenza-termini" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="NotificaDecorrenzaTermini"
                                object-type="NotificaDecorrenzaTermini" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

<!-- NOTIFICA ESITO COMMITTENTE -->

    <xsd:complexType name="NotificaEsitoCommittente">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true"/>
                    <linkit:sql-table-mapping generate-sql="true" name="notifiche_esito_committente"
                        on-delete-cascade="true">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idFattura" type="id-fattura-entrata">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="FatturaEntrata"
                                object-type="FatturaEntrata" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="numeroFattura" type="String20Type" minOccurs="0"/>
            <xsd:element name="annoFattura" type="xsd:nonNegativeInteger" minOccurs="0"/>
            <xsd:element name="posizioneFattura" type="xsd:positiveInteger" minOccurs="0"/>
            <xsd:element name="esito" type="EsitoCommittenteType"/>
            <xsd:element name="descrizione" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messageIdCommittente" type="MessageIdType" minOccurs="0"/>
            <xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="nomeFile" type="NomeFileType"/>
            <xsd:element name="dataInvioEnte" type="xsd:dateTime"/>
            <xsd:element name="dataInvioSdi" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="statoInvio" type="StatoInvioEsitoType" default="DA_INVIARE"/>
            <xsd:element name="dettaglioInvio" type="xsd:string"/>
            <xsd:element name="scarto" type="ScartoType" minOccurs="0"/>
            <xsd:element name="scartoNote" type="xsd:string" minOccurs="0"/>
            <xsd:element name="scartoXml" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                 </xsd:annotation>
            </xsd:element>
            <xsd:element name="xml" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

<!-- NOTIFICA DECORRENZA TERMINI -->

    <xsd:complexType name="NotificaDecorrenzaTermini">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true" id="id-notifica-decorrenza-termini"/>
                    <linkit:sql-table-mapping generate-sql="true" name="notifiche_decorrenza_termini"
                        on-delete-cascade="true">
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="identificativoSdi"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="nomeFile" type="NomeFileType"/>
            <xsd:element name="descrizione" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messageId" type="MessageIdType"/>
            <xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dataRicezione" type="xsd:dateTime"/>
            <xsd:element name="xml" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

<!-- ALLEGATO FATTURA ENTRATA -->

    <xsd:complexType name="AllegatoFatturaEntrata">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true"/>
                    <linkit:sql-table-mapping generate-sql="true" name="allegati_entrata"
                        on-delete-cascade="true">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idFattura" type="id-fattura-entrata">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="FatturaEntrata"
                                object-type="FatturaEntrata" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nomeAttachment" type="String60LatinType" />
            <xsd:element name="algoritmoCompressione" type="String10Type" minOccurs="0" />
            <xsd:element name="formatoAttachment" type="String10Type" minOccurs="0" />
            <xsd:element name="descrizioneAttachment" type="String100LatinType" minOccurs="0" />
            <xsd:element name="attachment" type="xsd:base64Binary" />
        </xsd:sequence>
    </xsd:complexType>

<!-- FATTURA USCITA -->

    <xsd:complexType name="FatturaUscita">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true"/>
                    <linkit:sql-table-mapping generate-sql="true" name="fatture_uscita"
                        on-delete-cascade="false">
                        <linkit:sql-table-foreign-key
                            reference-object-name="Dipartimento"
                            reference-object-type="Dipartimento">
                            <linkit:sql-table-fk-field name="codiceDestinatario"/>
                            <linkit:sql-table-fk-reference-field name="codice"/>
                        </linkit:sql-table-foreign-key>
                        <linkit:sql-table-index name="idx_cc_denominazione">
                            <linkit:sql-table-index-field name="cessionarioCommittentePaese"/>
                            <linkit:sql-table-index-field name="cessionarioCommittenteCodiceFiscale"/>
                        </linkit:sql-table-index>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType" minOccurs="0"/>
            <xsd:element name="dataAcquisizione" type="xsd:dateTime"/>
            <xsd:element name="nomeFile" type="NomeFileType" minOccurs="0"/>
            <xsd:element name="cedentePrestatoreDenominazione" type="String80LatinType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cp_denominazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cedentePrestatorePaese" type="NazioneType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cp_nazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cedentePrestatoreCodiceFiscale" type="CodiceType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cp_codicefiscale"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cessionarioCommittenteDenominazione" type="String80LatinType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cc_denominazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cessionarioCommittentePaese" type="NazioneType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cc_nazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cessionarioCommittenteCodiceFiscale" type="CodiceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="cc_codicefiscale"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="terzoIntermediarioOSoggettoEmittenteDenominazione" type="String80LatinType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="se_denominazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="terzoIntermediarioOSoggettoEmittentePaese" type="NazioneType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="se_nazione"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="terzoIntermediarioOSoggettoEmittenteCodiceFiscale" type="CodiceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping name="se_codicefiscale"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceDestinatario" type="CodiceDestinatarioType"/>
            <xsd:element name="tipoDocumento" type="TipoDocumentoType"/>
            <xsd:element name="art73" type="xsd:boolean" default="false"/>
            <xsd:element name="divisa" type="DivisaType"/>
            <xsd:element name="data" type="DataFatturaType"/>
            <xsd:element name="anno" type="xsd:nonNegativeInteger"/>
            <xsd:element name="numero" type="String20Type"/>
            <xsd:element name="esito" type="EsitoType" minOccurs="0"/>
            <xsd:element name="importoTotaleDocumento" type="Amount2DecimalType" minOccurs="0"/>
            <xsd:element name="causale" type="String200LatinType" minOccurs="0"/>
            <xsd:element name="dataConsegnaSdI" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="stato" type="StatoFatturaAttivaType" default="IN_TRASMISSIONE_SDI"/>
            <xsd:element name="dettaglioStato" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dataUltimoStato" type="xsd:dateTime"/>
            <xsd:element name="xml" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idDecorrenzaTermini" type="id-notifica-decorrenza-termini" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="NotificaDecorrenzaTermini"
                                object-type="NotificaDecorrenzaTermini" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <!-- NOTIFICA SCARTO -->
    
    <xsd:complexType name="NotificaScarto">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true"/>
                    <linkit:sql-table-mapping generate-sql="true" name="notifiche_scarto"
                        on-delete-cascade="true">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idFattura" type="id-fattura-uscita">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="FatturaUscita"
                                object-type="FatturaUscita" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="nomeFile" type="NomeFileType"/>
            <xsd:element name="dataOraRicezione" type="xsd:dateTime"/>
            <xsd:element name="rifIdentificativoSdI" type="IdentificativoSdIType" minOccurs="0"/>
            <xsd:element name="rifNomeFile" type="NomeFileType" minOccurs="0"/>
            <xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="messageId" type="MessageIdType"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="xml" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>    
       
<!-- RICEVUTA CONSEGNA -->
    
    <xsd:complexType name="RicevutaConsegna">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true"/>
                    <linkit:sql-table-mapping generate-sql="true" name="ricevute_consegna"
                        on-delete-cascade="true">
                        <linkit:sql-table-foreign-key
                            reference-object-name="Dipartimento"
                            reference-object-type="Dipartimento">
                            <linkit:sql-table-fk-field name="codiceDestinatario"/>
                            <linkit:sql-table-fk-reference-field name="codice"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idFattura" type="id-fattura-uscita">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="FatturaUscita"
                                object-type="FatturaUscita" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="nomeFile" type="NomeFileType"/>
            <xsd:element name="dataOraRicezione" type="xsd:dateTime"/>
            <xsd:element name="dataOraConsegna" type="xsd:dateTime"/>
            <xsd:element name="codiceDestinatario" type="CodiceDestinatarioType"/>
            <xsd:element name="descrizioneDestinatario" type="xsd:string"/>
            <xsd:element name="rifIdentificativoSdI" type="IdentificativoSdIType" minOccurs="0"/>
            <xsd:element name="rifNomeFile" type="NomeFileType" minOccurs="0"/>
            <xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="messageId" type="MessageIdType"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="xml" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>        
   
<!-- NOTIFICA MANCATA CONSEGNA -->
    
    <xsd:complexType name="NotificaMancataConsegna">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true"/>
                    <linkit:sql-table-mapping generate-sql="true" name="notifiche_mancata_consegna"
                        on-delete-cascade="true">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idFattura" type="id-fattura-uscita">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="FatturaUscita"
                                object-type="FatturaUscita" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="nomeFile" type="NomeFileType"/>
            <xsd:element name="dataOraRicezione" type="xsd:dateTime"/>
            <xsd:element name="rifIdentificativoSdI" type="IdentificativoSdIType" minOccurs="0"/>
            <xsd:element name="rifNomeFile" type="NomeFileType" minOccurs="0"/>
            <xsd:element name="descrizione" type="xsd:string" minOccurs="0"/>
            <xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="messageId" type="MessageIdType"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="xml" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>        

<!-- ATTESTAZIONE TRASMISSIONE FATTURA -->

    <xsd:complexType name="AttestazioneTrasmissioneFattura">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true"/>
                    <linkit:sql-table-mapping generate-sql="true" name="attestazioni_trasmissione_fattura"
                        on-delete-cascade="true">
                        <linkit:sql-table-foreign-key
                            reference-object-name="Dipartimento"
                            reference-object-type="Dipartimento">
                            <linkit:sql-table-fk-field name="codiceDestinatario"/>
                            <linkit:sql-table-fk-reference-field name="codice"/>
                        </linkit:sql-table-foreign-key>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idFattura" type="id-fattura-uscita">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="FatturaUscita"
                                object-type="FatturaUscita" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="nomeFile" type="NomeFileType"/>
            <xsd:element name="dataOraRicezione" type="xsd:dateTime"/>
            <xsd:element name="rifIdentificativoSdI" type="IdentificativoSdIType" minOccurs="0"/>
            <xsd:element name="rifNomeFile" type="NomeFileType" minOccurs="0"/>
            <xsd:element name="codiceDestinatario" type="CodiceDestinatarioType"/>
            <xsd:element name="descrizioneDestinatario" type="xsd:string"/>
            <xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="messageId" type="MessageIdType"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="hashFileOriginale" type="xsd:string"/>
            <xsd:element name="xml" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>        
  
<!-- NOTIFICA ESITO -->
    
    <xsd:complexType name="NotificaEsito">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true"/>
                    <linkit:sql-table-mapping generate-sql="true" name="notifiche_esito"
                        on-delete-cascade="true">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idFattura" type="id-fattura-uscita">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="FatturaUscita"
                                object-type="FatturaUscita" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="nomeFile" type="NomeFileType"/>
            <xsd:element name="messageId" type="MessageIdType"/>
            <xsd:element name="formatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ecIdentificativoSdi" type="IdentificativoSdIType"/>
            <xsd:element name="ecNumeroFattura" type="String20Type" minOccurs="0"/>
            <xsd:element name="ecAnnoFattura" type="xsd:nonNegativeInteger" minOccurs="0"/>
            <xsd:element name="ecPosizioneFattura" type="xsd:positiveInteger" minOccurs="0"/>
            <xsd:element name="ecEsito" type="EsitoCommittenteType"/>
            <xsd:element name="ecDescrizione" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ecMessageIdCommittente" type="MessageIdType" minOccurs="0"/>
            <xsd:element name="ecFormatoTrasmissione" type="FormatoTrasmissioneType"/>
            <xsd:element name="xml" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping long-text="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>    

<!-- ALLEGATO FATTURA USCITA -->

    <xsd:complexType name="AllegatoFatturaUscita">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true"/>
                    <linkit:sql-table-mapping generate-sql="true" name="allegati_uscita"
                        on-delete-cascade="true">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idFattura" type="id-fattura-uscita">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="FatturaUscita"
                                object-type="FatturaUscita" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nomeAttachment" type="String60LatinType" />
            <xsd:element name="algoritmoCompressione" type="String10Type" minOccurs="0" />
            <xsd:element name="formatoAttachment" type="String10Type" minOccurs="0" />
            <xsd:element name="descrizioneAttachment" type="String100LatinType" minOccurs="0" />
            <xsd:element name="attachment" type="xsd:base64Binary" />
        </xsd:sequence>
    </xsd:complexType>
    
<!-- ENTE -->
    
    <xsd:complexType name="Ente">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true" id="id-ente"/>
                    <linkit:sql-table-mapping generate-sql="true" name="enti"
                        on-delete-cascade="false">
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="nome"/>
                        </linkit:sql-table-unique>
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="codiceFiscale"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="codiceFiscale" type="CodiceType"/>
            <xsd:element name="nome" type="xsd:string"/>
            <xsd:element name="descrizione" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endpoint" type="xsd:anyURI" minOccurs="0"/>
            <xsd:element name="username" type="UsernameType" minOccurs="0"/>
            <xsd:element name="password" type="PasswordType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
  
<!-- UTENTE -->
    
    <xsd:complexType name="Utente">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true" id="id-utente"/>
                    <linkit:sql-table-mapping generate-sql="true" name="utenti"
                        on-delete-cascade="false">
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="username"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="username" type="UsernameType"/>
            <xsd:element name="password" type="PasswordType"/>
            <xsd:element name="nome" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cognome" type="xsd:string" minOccurs="0"/>
            <xsd:element name="amministratore" type="xsd:boolean"/>
            <xsd:element name="ente" type="id-ente">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="ente"
                                object-type="Ente" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="UtenteDipartimento" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-column-mapping required="true"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

<!-- DIPARTIMENTO -->

    <xsd:complexType name="Dipartimento">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:interface crud="true" id="id-dipartimento"/>
                    <linkit:sql-table-mapping generate-sql="true" name="dipartimenti"
                        on-delete-cascade="false">
                        <linkit:sql-table-unique create-index="true">
                            <linkit:sql-table-unique-field name="codice"/>
                        </linkit:sql-table-unique>
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="codice" type="CodiceDestinatarioType"/>
            <xsd:element name="ente" type="id-ente">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="ente"
                                object-type="Ente" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="descrizione" type="xsd:string"/>
            <xsd:element name="modalitaPush" type="xsd:boolean" default="false"/>
            <xsd:element name="endpoint" type="xsd:anyURI" minOccurs="0"/>
            <xsd:element name="username" type="UsernameType" minOccurs="0"/>
            <xsd:element name="password" type="PasswordType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="UtenteDipartimento">
        <xsd:annotation>
            <xsd:appinfo>
                <linkit:generator
                    xmlns:linkit="http://www.link.it/project_generator">
                    <linkit:sql-table-mapping generate-sql="true" name="utenti_dipartimenti"
                        on-delete-cascade="false">
                    </linkit:sql-table-mapping>
                </linkit:generator>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idDipartimento" type="id-dipartimento">
                <xsd:annotation>
                    <xsd:appinfo>
                        <linkit:generator
                            xmlns:linkit="http://www.link.it/project_generator">
                            <linkit:sql-id-mapping object-name="Dipartimento"
                                object-type="Dipartimento" relationship="reversed"/>
                        </linkit:generator>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    

<!-- Fatturazione Passiva -->
    
    <xsd:element name="FatturaEntrata" type="FatturaEntrata"/>

    <xsd:element name="NotificaEsitoCommittente" type="NotificaEsitoCommittente"/>
    
    <xsd:element name="AllegatoFatturaEntrata" type="AllegatoFatturaEntrata"/>
    
    
<!-- Fatturazione Attiva -->

    <xsd:element name="FatturaUscita" type="FatturaUscita"/>
    
    <xsd:element name="NotificaScarto" type="NotificaScarto"/>
    
    <xsd:element name="RicevutaConsegna" type="RicevutaConsegna"/>
    
    <xsd:element name="NotificaMancataConsegna" type="NotificaMancataConsegna"/>
    
    <xsd:element name="AttestazioneTrasmissioneFattura" type="AttestazioneTrasmissioneFattura"/>
    
    <xsd:element name="NotificaEsito" type="NotificaEsito"/>

    <xsd:element name="AllegatoFatturaUscita" type="AllegatoFatturaUscita"/>
    
<!-- Entit comuni -->
    
    <xsd:element name="NotificaDecorrenzaTermini" type="NotificaDecorrenzaTermini"/>
    
    <xsd:element name="Utente" type="Utente"/>
    
    <xsd:element name="Dipartimento" type="Dipartimento"/>
    
    <xsd:element name="UtenteDipartimento" type="UtenteDipartimento"/>
    
</xsd:schema>