resources/doc/ManualeFatturazioneElettronica/schemi/wadl/ProxyRiceviFatturaPush.wadl

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <grammars/>
    <resources base="http://server.ente/">
        <resource path="/riceviFattura">
            <method name="POST">
                <request>
                    <param name="ProxyFatturaPA-IdSdI" style="query" type="xs:int" minOccurs="0"/>
                    <param name="ProxyFatturaPA-Posizione" style="query" type="xs:int" minOccurs="0"/>
                    <param name="X-ProxyFatturaPA-IdSdI" style="header" type="xs:int" minOccurs="0"/>
                    <param name="X-ProxyFatturaPA-Posizione" style="header" type="xs:int" minOccurs="0"/>
                    <representation mediaType="application/zip"/>
                </request>
                <response status="200"/>
                <response status="500"/>
            </method>
        </resource>
    </resources>
</application>