doc/ManualeFatturazioneElettronica/schemi/wadl/ProxyRiceviFatturaPull.wadl

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <grammars/>
    <resources base="http://server.proxy/proxyFatturaPA/ente">
        <resource path="/riceviFattura">
            <method name="GET">
                <request>
                    <param name="ProxyFatturaPA-IdSdI" style="query" type="xs:int"/>
                    <param name="ProxyFatturaPA-Posizione" style="query" type="xs:int"/>
                </request>
                <response>
                    <representation mediaType="application/zip"/>
                </response>
            </method>
        </resource>
        <resource path="/listaFattureNonRicevute">
            <method name="GET">
                <request>
                    <param name="ProxyFatturaPA-Limit" style="query" type="xs:int" minOccurs="0"/>
                </request>
                <response>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>
    </resources>
</application>